.page {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  height: 100vh;
}

.nav {
  grid-column: span 1;
  background-color: rgb(39 39 42);
  height: 100vh;
  cursor: pointer;
}

.history ul {
  padding-left: 10px;
  margin: 0;
  list-style: none;
  width: 100%;
}

.his_con {
  height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main {
  grid-column: span 4;
  background-color: rgb(24 24 27);
  height: 100vh;
}

.question {
  display: flex;
  background-color: rgb(39 39 42);
  width: 50%;
  color: white;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid rgb(198, 198, 203);
  padding-right: 1rem;
}

.typing,
.ask {
  background-color: rgb(39 39 42);
  border: none;
  border-radius: 1rem;
  color: white;
}

.container {
  height: 32rem;
  overflow: scroll;
  padding: 2rem;
  color: white;
}

.ask {
  cursor: pointer;
}

.typing {
  outline: none;
  width: 90%;
  height: 100%;
  padding: 1.25rem;
}

.main_text {
  padding: 0.5rem;
  text-align: left;
  list-style-type: none;
}

.main_ques {
  padding: 0;
  text-align: right;
  list-style-type: none;
  border: 2px solid rgb(39 39 42);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: fit-content;
  background-color: rgb(39 39 42);
}

.answer {
  padding-top: 20px;
  display: block;
}

.inner_text {
  padding-left: 10px;
  color: rgb(193, 193, 195);
}

.heading {
  font-size: larger;
}

.ques {
  display: flex;
  justify-content: flex-end;
}

.history-item {
  list-style-type: none;
  font-size: 15px;
  text-align: left;
  padding: 10px;
  color: rgb(222, 222, 225);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.history-item:hover {
  background-color: rgb(123, 121, 121);
  color: rgb(249, 246, 246);
}

.search-heading {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  display: flex;
  padding: 15px;
  gap: 7px;
}

.del {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
  font-size: 19px;
}

.loader {
  border: 6px solid rgb(66, 66, 67); /* Light grey */
  border-top: 6px solid #902390; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.intro_heading {
  font-size: 35px;
  text-align: center;
  background: linear-gradient(to right, pink, purple);
  background-clip: text;
  color: transparent;
}

.mode {
  position: fixed;
  color: rgb(0, 0, 0);
  box-shadow: none;
  background-color: transparent;
  border: none;
  bottom: 10px;
}

.inner_ques {
  padding-left: 5px;
}

.light .del {
  background-color: transparent;
  color: black;
}
.light .search-heading {
  display: flex;
  padding: 25px;
  gap: 10px;
}

.light .nav,
.light .history-item,
.light .search-heading {
  color: black;
  background-color: #f9eaea;
}

.light .container {
  height: 32rem;
}

.light .main_ques {
  text-align: right;
  list-style-type: none;
  border: 2px solid rgb(39 39 42);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: fit-content;
}

.main_ques p,
.main_text p {
  margin: 0;
  padding: 0.5rem;
}

.light .main,
.light .main_ques,
.light .main_text,
.light .inner_text,
.light .container {
  color: black;
  background-color: rgb(252, 246, 233);
}

.light .question,
.light .typing,
.light .ask {
  background-color: #fbc3c3;
  color: black;
}
.light .typing::placeholder {
  color: gray;
}

.light .history-item:hover {
  background-color: #f4e5e5;
  color: black;
}
.light .intro_heading {
  background: linear-gradient(to right, pink, purple);
  background-clip: text;
  color: transparent;
}

.container::-webkit-scrollbar,
.his_con::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track,
.his_con::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb,
.his_con::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 67);
  border-radius: 10px;
}

.container,
.his_con {
  scrollbar-width: thin;
  scrollbar-color: rgb(53, 53, 53) transparent;
}
